<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.campustrade">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <application
        android:name = ".CampusTradeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Campustrade"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAXcSMt2YMgtm_PmunBFkvbNjrbvZGV0aU"/>
        <activity
            android:name=".history.HistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".prodsProfile.ProdsPScreenActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="ProdsProfile"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".home.HomeActivityMVVM"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_home_mvvm"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".cameraPublish.LaunchCameraScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="LaunchCameraScreen"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".publish.PublishScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="PublishScreen"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".TransactionsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_transactions"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".signup.SignUpScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".login.LoginScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_log_in"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".profile.ProfileScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".explore.ExploreScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".explore.MapScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Campustrade" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Campustrade">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.campustrade.provider"
            android:exported="false"
            android:grantUriPermissions = "true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>